html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next, #root {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus{
  outline: none;
}

.ais-SearchBox-form {
  display: flex;
  justify-content: center;
}

.ais-SearchBox-input {
  border: 0;
  border-radius: 1rem;
  width: 86%;
  height: 7.5vh;
  background: #fff;
  box-shadow:0rem 0rem 1.6rem #888;
  font-size: 1.8rem;
  text-indent: 1.8rem;
  padding-right: 4rem;
}

.ais-SearchBox-submit {
  margin-top: 0.2rem;
  margin-left: -3.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.ais-SearchBox-submitIcon {
  width: 1.8rem;
  height: 1.8rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 800px) {
  .ais-SearchBox-input {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    width: 100%;
    height: 5.6vh;
  }
  .ais-SearchBox-submitIcon {
    width: 1.4rem;
    height: 1.4rem;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;